<%- include('../partials/forms'); -%>
<div class="modal-dialog text-center form-page">
    <div class="col-sm-9 main-section">
    <h1 class="ftitle">Edit Comment</h1>
      <div class="modal-content">
          <div class="col-12">
          <h1></h1>
        </div>

        <div class="col-12 form-input">
			<form action="/home/<%=campground_id%>/comments/<%=comment._id%>/edit?_method=PUT" method="POST">
            			<div class="form-group">
		<input class="form-control" type="text" value="<%=comment.text%>" placeholder="enter comment" name="comment[text]" oninvalid="this.setCustomValidity('Please Enter Your comment')" required>
			</div>
            <button type="submit" class="btn btn-success">submit</button>
            <div class="goback">
            <a class="btn btn-warning btn-lg" href="/home/<%=campground_id%>/" > Go back!</a>
            </div>
          </form>


        </div>

   

      </div>
    </div>
</div>


<%- include('../partials/footer'); -%>