<%- include('../partials/header'); -%>



	<header class="jumbotron">
		<div class="container">
			<h1>Keep YouBooking</h1>
			<p>Whats on your mind?</p>
			<p>
				<a id="postbtn" class="btn btn-primary btn-large" href="/home/new">New Post</a>
			</p>
		</div>
	
	</header>
	<div class="row text-center" style="display:flex; flex-wrap:wrap;">
		<%campgrounds.reverse().forEach(function(campground){%>
		<div class="col-md-3 col-sm-6">
			<div class="thumbnail" style="border-radius: 10%;">
				<img id="thumbindex" src="<%=campground.pphoto%>" style="border-radius: 5%;">
				<div class="caption">
					<h4><%=campground.name%></h4>
				</div>
				<p>
					<a href="/home/<%=campground._id%>" class="btn btn-lg btn-primary" id="more">More Info</a>
				</p>
			
			</div>
			
		</div>

		<%});%>
	</div>
</div>

<%- include('../partials/footer'); -%>